* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    outline: none;
}

@font-face{
    font-family: 'Yantra';
    src: url('font/Yantramanav-Light.ttf');
}

@font-face{
    font-family: 'Arvo';
    src: url('font/Arvo-Bold.ttf');
}

@font-face{
    font-family: 'Patua';
    src: url('font/PatuaOne-Regular.ttf');
}

@font-face{
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.ttf');
}

@font-face{
    font-family: 'Lato';
    src: url('font/Lato-Light.ttf');
}

@font-face{
    font-family: 'Alata';
    src: url('font/Alata-Regular.ttf');
}

@font-face{
    font-family: 'RobotoSlab';
    src: url('font/RobotoSlab-Light.ttf');
}

@font-face{
    font-family: 'Notolight';
    src: url('font/NotoSansJP-Regular.otf');
}

input:focus {
    outline:  none;
}


/*---------------------------------------------------------- body ----------------------------------------------------------*/

body{
    display:grid;
    grid-template-columns:1fr 600px 1fr; 
    grid-template-rows:100px 1fr 200px 950px 200px;
    background-color: #fdfdfd;
}

/*---------------------------------------------------------- header ----------------------------------------------------------*/

#accueil {
	grid-area: 1/1/3/4;
	display: flex;
	background: url("image/fond4.jpg") no-repeat center ;
	background-size: cover;
	opacity: 1;
	flex-flow: column wrap;
}

header{
	height: 100px;
	width: 100%;
    background-color:transparent;
    display:grid;
    grid-template-columns:120px 1fr 150px 150px 180px 170px 1fr 160px;
    grid-template-rows:1fr ;
    border-bottom: 1px solid white;

}

header > div {
    display: flex;
    align-items: center;

}

header div > a{
    align-items:baseline;
    display:flex;
    font-size: 22px;
    font-family: 'Alata';
    color:white;
    background-color: ;
}

header div a img {
    width: 14px;
    height:14px;
    margin-left: 6px;
    transition: transform 400ms ease-out;
}

header div a:hover img {
    background-color:;
    transform: rotate(90deg);
}

header #header_contact {
	grid-area: 1/3/2/4;
}

header #header_accueil {
	grid-area: 1/4/2/5;
}

header #header_Connexion {
    grid-area: 1/6/1/7;
}

header #header_Compte {
    grid-area: 1/5/1/6;
}

header #header_logo a{
    display: block;
    height: 70px;
    border-radius: 4px;
    margin: 0px 15px 0px 15px;
    background: url('image/logo_polytech_6.png');
    width: 76px;
    background-repeat: no-repeat;
    background-size: 76px;
    background-position: center;
    padding: 0px;
}

header #header_logo a img {
	display: block;
    height: 70px;
    width: 76px;
    border-radius: 3px;
    transition: opacity 400ms linear;
    margin: 0px;
    padding: 0px;
}


header #header_logo a:hover img{
	opacity: 0;
	transform: none;
	cursor: pointer;
}

header #header_Publier {
    grid-area: 1/8/2/9;
}

header #header_Publier a{
    padding: 9px 14px 9px 9px;
    border-radius: 3px;
    align-items:center;
    color: white;
    background-color: #ff1c1c ;
    transition: background-color 400ms;
}

header #header_Publier a img{
    padding-right: 11px;
    padding-left: 3px;
    width: 20px;
    height:20px;
    margin: 0px;
}

header #header_Publier a:hover {
    background-color: #ab0000 ;
    
}

header #header_Publier a:hover img{
    transform:none;
}


/*---------------------------------------------------------- fond accueil ----------------------------------------------------------*/

/*-------------------------------- Recherche --------------------------------*/

#fond_accueil {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items:center;
}

#fond_accueil div input:focus {
    outline:  none;
}

#fond_accueil h1 {
	margin: 80px 0px 0px 0px;
	font-size: 120px;
	font-family: 'Patua';
	color: white;
	text-align: center;
}

#fond_accueil h2 {
	margin: 40px 0px 0px 0px;
	font-family: 'Yantra';
	color: white;
	font-weight: normal;
	text-align: center;
}

form {
	margin: 80px 0px 80px 0px;
	display: flex;
	flex-flow: row nowrap;
	align-items:center;
}

#fond_accueil .recherche {
	background-color:;
	width: 260px;
	height: 160px;
	margin: 0px 20px 0px 0px;
	border: 1px solid white;
	color:white;
	font-weight: bold;
	display: flex;
	flex-flow: column wrap;
	align-items:center;
	border-radius: 4px;
}

#fond_accueil .recherche p {
	font-family: 'Yantra';
	font-weight: normal;
	height: 20px;
	width: 90%;
	text-align: left;
	margin-left: 10%;
}

#fond_accueil .recherche:nth-child(2) {
	width: 340px;
}

#fond_accueil .recherche:nth-child(2) select > option {
	font-size:14px;
	padding-right: 0px;
	margin: 0px;
    border:none;
}


#fond_accueil .recherche h3{
	background-color: ;
	width: 100%;
	height: 40px;
	border:none;
	margin: 20px 0px 0px 0px;
	text-align: center;
	font-size: 30px;
	font-family: 'Patua';
	font-weight: normal;
	letter-spacing: 1.8px;
}

#fond_accueil .recherche h3 img{
	background-color: ;
	width: 16px;
	height: 24px;
	padding-left: 8px;
}


#fond_accueil .recherche input {
	margin-top: 20px;
	width: 80%;
	height: 40px;
	font-size: 15px;
	font-family: 'Alata';
	padding-left: 6%;
	border:none;
	background-color:white;
	color: black;
}

#fond_accueil .recherche select {
	margin-top: 40px;
	width: 80%;
	height: 40px;
	font-size: 15px;
	font-family: 'Alata';
	padding: 0px 0px 0px 2%;
	border:none;
	background-color:white;
	color: black;
}


#fond_accueil #recherche_button {
	background-color:#ff1c1c ;
	width: 120px;
	height: 160px;
	border: 1px solid #ff1c1c ;
	transition:background-color 400ms, border 400ms;
	border-radius: 4px;
}

#fond_accueil #recherche_button input {
	background: url('image/logo_loupe.png') transparent;
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
	width: 100%;
	height: 100%;
	border:none;
}

#fond_accueil #recherche_button:hover, #recherche_button input:hover {
    background-color: #ab0000 ;
    border:solid 1px #ab0000 ;
    cursor: pointer;
}

#fond_accueil .recherche input:invalid {
}

/*--------------------------------------------- transition ---------------------------------------------*/

aside {
	grid-column: span 4;
	background-color: #f3f3f3;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

aside h2 {
	font-family: 'RobotoSlab';
	color: black;
	font-weight: normal;
	font-size: 30px;
	text-align: center;
}

/*--------------------------------------------- Stages ---------------------------------------------*/

section {
	grid-column: span 4;
	background-color: ;
	width:100%;
	height: 100%;
	display: flex;
	flex-flow: column wrap;
}

section #stage_populaire, section #stage_visite {
	background-color:;
	height: 450px;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: center;
}

section .accueil_stage {
	width: 300px;
	background-color: #f3f3f3;
	height: 398px;
	margin: 50px 0px 0px 50px;
	border: solid #545454 1px;
	transition: background-color 400ms;
	border-radius: 4px;
	color: black;
}

section .accueil_stage:hover {
	background-color: white;
	cursor:pointer;
}

section #stage_info {
	background-color:#002b66;
	display: flex;
	flex-flow: wrap column;
	align-items: center;
}

section #stage_info h2 {
	width: 80%;
	text-align: left;
	font-size: 24px;
	color: white;
	height: 40%;
	background-color:;
	font-family: 'Alata';
	font-weight: normal;
	margin: 10% 0px 0% 0%;
}

section #stage_info img {
	display: block;
	background-color: ;
	color:  #004976;
	height: 35%;
	margin: 0% 0px 10% 0%;
}

section .accueil_stage_logo {
	background-color:;
	width: 100px;
	float: left;
	height: 100px;
	margin: 20px 0px 0px 20px;

}

section .accueil_stage .accueil_stage_logo img{
	display: block;
	height: 98px;
	background-color:;
	margin: auto;
	border: solid 1px black;
	border-radius: 4px;
}

section .accueil_stage_etoile {
	background-color:;
	width: 180px;
	float: right;
	height: 20px;
	margin-top: 30px;
}

section .accueil_stage .accueil_stage_etoile img {
	display: block;
	height: 100%;
	margin: 0px 0px 0px 10px;
	float: left;
}

section .accueil_stage .accueil_stage_etoile img:nth-child(1) {
	margin-left: 16px;
	background-color: ;
}

section .accueil_stage .accueil_stage_info {
	background-color: ;
	width: 160px;
	height: 20px;
	float: left;
	margin: 12px 0px 0px 20px;
	vertical-align: middle;
	font-family: 'Alata';
	color:#545454;
}

section .accueil_stage .accueil_stage_info img{
	background-color: ;
	height: 18px;
	float: left;
	margin-right: 12px;
	margin-top: 3px;
}

section .accueil_stage h1 {
	font-weight: normal;
	background-color: ;
	float: left;
	width: 100%;
	font-size:30px;
	font-family: 'Patua';
	text-align: center;
	margin: 22px 0px 30px 0px;
}

section .accueil_stage p {
	color:#545454;
	font-family: 'Alata';
	background-color:;
	margin: 0px 0px 0px 5%;
	width: 90%;
	line-height: 26px;
	height: 90%;
}

section .accueil_stage p img {
	width: 20px;
	height: 20px;
	margin: 0px 10px 0px 10px;
}

section .accueil_stage time {
	background-color:;
	color:#545454;
	font-family: 'Alata';
	font-size: 16px;
	display: block;
	text-align: center;
	height:5%;

}

section .accueil_stage:nth-child(1) {
	margin-left: 0px;
}

/*---------------------------------------------------------- footer ----------------------------------------------------------*/

footer {
    background-color:  #004976;
    grid-column: span 4;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    color: white;
    width: 100%;
}

footer h2 {
    width:100%;
    font-weight: normal;
    font:24px 'Alata' ;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: ;
}

footer p {
    font: 14px 'Alata' ;
    height: 20%;
   
}

footer #imgfooter {
    width: 100%;
    height: 30%;
    background-color: ;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}

footer #imgfooter a {
    background-color: ;
    width: 50px;
    height:100%;
}

footer #imgfooter a img{
    height: 50%;
    margin-top: 25%;
}

footer #bottom_footer {
    height: 20%;
    width:100%;
    background-color: black;
}

/*---------------------------------------------------------- media queries ----------------------------------------------------------*/

@media screen and (max-width: 1800px) {

	section  #stage_populaire .accueil_stage:nth-child(5), #stage_visite .accueil_stage:nth-child(5) {
		display: none;
	}
}

@media screen and (max-width: 1448px) {

	section  #stage_populaire .accueil_stage:nth-child(5),.accueil_stage:nth-child(4), #stage_visite .accueil_stage:nth-child(5), 
	.accueil_stage:nth-child(4) {
		display: none;
	}
}

@media screen and (max-width: 1096px) {

	section  #stage_populaire .accueil_stage:nth-child(5),.accueil_stage:nth-child(4),.accueil_stage:nth-child(3), #stage_visite .accueil_stage:nth-child(5), 
	.accueil_stage:nth-child(4),.accueil_stage:nth-child(3){
		display: none;
	}
}



