* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    outline: none;
}

@font-face{
    font-family: 'Yantra';
    src: url('font/Yantramanav-Light.ttf');
}

@font-face{
    font-family: 'Arvo';
    src: url('font/Arvo-Bold.ttf');
}

@font-face{
    font-family: 'Patua';
    src: url('font/PatuaOne-Regular.ttf');
}

@font-face{
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.ttf');
}

@font-face{
    font-family: 'Lato';
    src: url('font/Lato-Light.ttf');
}

@font-face{
    font-family: 'Alata';
    src: url('font/Alata-Regular.ttf');
}

@font-face{
    font-family: 'RobotoSlab';
    src: url('font/RobotoSlab-Light.ttf');
}

input:focus {
    outline:  none;
}


/*---------------------------------------------------------- body ----------------------------------------------------------*/

body{
    display:grid;
    grid-template-columns:1fr 1000px 1fr; /* 4 colonnes de largeur = */
    grid-template-rows:101px 1fr 200px; /* 3 rangées */
    background-color: white;
}

/*---------------------------------------------------------- header ----------------------------------------------------------*/

header{
    height: 100px;
    width: 100%;
    grid-column: span 4;
    background-color:#1a1d21;
    display:grid;
    grid-template-columns:120px 1fr 150px 150px 180px 170px 1fr 160px;
    grid-template-rows:1fr ;
    border-bottom: 1px solid #1a1d21;
}

header > div {
    display: flex;
    align-items: center;
}

header div > a{
    align-items:baseline;
    display:flex;
    font-size: 22px;
    font-family: 'Alata';
    color:white;
    background-color: ;
}

header div a img {
    width: 14px;
    height:14px;
    margin-left: 6px;
    transition: transform 400ms ease-out;
}

header div a:hover img {
    background-color:;
    transform: rotate(90deg);
}


header #header_contact {
    grid-area: 1/3/2/4;
}

header #header_accueil {
    grid-area: 1/4/2/5;
}

header #header_Connexion {
    grid-area: 1/6/1/7;
}

header #header_Compte {
    grid-area: 1/5/1/6;
}

header #header_logo a{
    display: block;
    height: 70px;
    border-radius: 4px;
    margin: 0px 15px 0px 15px;
    background: url('image/logo_polytech_6.png');
    width: 76px;
    background-repeat: no-repeat;
    background-size: 76px;
    background-position: center;
    padding: 0px;
}

header #header_logo a img {
    display: block;
    height: 70px;
    width: 76px;
    border-radius: 3px;
    transition: opacity 400ms linear;
    margin: 0px;
    padding: 0px;
}

header #header_logo a:hover img{
    opacity: 0;
    transform: none;
    cursor: pointer;
}

header #header_Publier {
    grid-area: 1/8/2/9;
}

header #header_Publier a{
    padding: 9px 14px 9px 9px;
    border-radius: 3px;
    align-items:center;
    color: white;
    background-color: #ff1c1c ;
    transition: background-color 400ms;
}

header #header_Publier a img{
    padding-right: 11px;
    padding-left: 3px;
    width: 20px;
    height:20px;
    margin: 0px;
}

header #header_Publier a:hover {
    background-color: #ab0000 ;
    
}

header #header_Publier a:hover img{
    transform:none;
}

/* 4 -------------------------------------------- test -------------------------------------------- */

#page_test {
    grid-area:2/1/3/2;
    background-color: ;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 60px 1fr;

}

.page_test_test{
    grid-area:1/1/2/2;
    background-color:#f3f3f3;
}

#bord_droit {
    grid-area:2/3/3/4;
    background-color: ;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 60px 1fr;
}

/* 4 -------------------------------------------- page avis -------------------------------------------- */

#page_avis {
    background-color:;
    grid-area: 2/2/3/3;
    display:grid;
    grid-template-columns:200px 1fr; /* 4 colonnes de largeur = */
    grid-template-rows:60px  1fr; /* 3 rangées */
}

section {
    grid-area: 2/2/3/3;
}

/* ---------------------------------- résumé recherche ---------------------------------- */

aside:nth-of-type(1) {

    grid-area: 1/1/2/3;
    background-color:#f3f3f3;
    display: flex;
    align-items: center;
    font-family: 'Alata';
    color: black;
}

aside:nth-of-type(1) p img {
    width:12px;
    padding:0px 5px 0px 5px;
}

/* ---------------------------------- filtres ---------------------------------- */

#avis_filtre{
    border:solid 1px  #cdcdcd;
    grid-area: 2/1/3/2;
    margin: 10px 0px 40px 0px;
    border-radius: 4px;
    display: flex;
    flex-flow: column nowrap;
    height: 664px;
}

#avis_filtre h2 {
    font-family: 'Alata';
    font-weight: normal;
    font-size: 20px;
    background-color:;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-bottom:solid 1px  #cdcdcd;
}

#avis_filtre h3 {
    font-family: 'Alata';
    font-weight: normal;
    font-size: 16px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: left;
    width: 72%;
    color: #2f2f2f;
    margin-top: 10px;
    margin-left: 14%;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 20px 0px 16px 10%;
  width: 80%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 90%;
  height: 6px;
  cursor: pointer;
  border-radius: 4px;
  background: #bab8b8;
}
input[type=range]::-webkit-slider-thumb {
    border:none;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: white;
    cursor: pointer;
    box-shadow: 0px 0px 8px -3px #000000;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 90%;
  height: 6px;
  cursor: pointer;
  border-radius: 4px;
  background: #bab8b8;
}
input[type=range]::-moz-range-thumb {
    border:none;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: white;
    cursor: pointer;
    box-shadow: 0px 0px 8px -3px #000000;
}
input[type=range]::-ms-track {
  width: 90%;
  height: 6px;
  cursor: pointer;
  border-radius: 4px;
  background: #bab8b8;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    border:none;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: white;
    cursor: pointer;
    box-shadow: 0px 0px 8px -3px #000000;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

#avis_filtre form div {
    background-color: ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Alata';
    font-weight: normal;
    font-size: 14px;
    color: #727272;
}

#avis_filtre form div p:nth-of-type(1) {
    width: 22%;
    text-align: right;
    margin-left: 6%;
}

#avis_filtre form div p:nth-of-type(2) {
    width: 22%;
    margin-right: 6%;

}

#avis_filtre .demarcation {
    background-color: #cdcdcd;
    width: 100%;
    height: 1px;
    margin: 20px 0px 0px 0px;
}

#avis_filtre h3:nth-of-type(2), h3:nth-of-type(3){
    margin-bottom: 10px;
}

#avis_filtre input[type=checkbox], input[type=radio]{
    margin-left:20px; 
    margin-bottom: 10px;

}

#avis_filtre label {
    background-color: ;
    font-family: 'Alata';
    font-size: 14px;
    margin-left: 6px;
    background-color:;
    margin-bottom: 10px;
}

#avis_filtre input[type=submit] {
    background-color:#656565;
    border: none;
    color: white;
    height:36px;
    width: 70%;
    margin:20px 0px 0px 15%;
    border-radius:2px;
    font-family: 'Alata';
    font-size:14px;
    transition:background-color 400ms;
}

#avis_filtre input[type=submit]:hover {
    background-color: black;
    transform:background-color;
    cursor: pointer;
}

#avis_filtre a {
    background-color:#656565;
    border: none;
    color: white;
    height:36px;
    width: 70%;
    margin:10px 0px 0px 15%;
    border-radius:2px;
    font-family: 'Alata';
    font-size:14px;
    transition:background-color 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

#avis_filtre a:hover {
    background-color: black;
    transform:background-color;
    cursor: pointer;
}


/* ---------------------------------- tri ---------------------------------- */

section #tri_stage {
    height: 36px;
    background-color: white;
    grid-area: 2/2/3/3;
    width: 90%;
    display: flex;
    justify-content:;
    align-items: stretch;
    border-radius: 4px;
    margin: 10px 0px 10px 5%;
    border: 1px solid #004976;
}

section #tri_stage input {
    border: none;
    width: 25%;
    font-size: 16px;
    font-family: 'Alata';
    color: #004976;
    border-right: 1px solid #004976;
    background-color: rgba(0,0,0,0);
}

section #tri_stage input:hover {
    cursor: pointer;
}

section #tri_stage input:nth-child(4) {
    border:none;
}

section #tri_stage .selectbtntri {
    background-color:#004976;
    color: white;
}

section #tri_stage .nonselectbtntri {
    background-color:rgba(0,0,0,0);
    color: #004976;
}


/* ---------------------------------- stage ---------------------------------- */
section #avis_stage_tri_0 {
    width: 100%;
    grid-area: 2/2/3/3;

}

section #avis_stage_tri_1 {
    width: 100%;
    grid-area: 2/2/3/3;
}

section #avis_stage_tri_2 {
    width: 100%;
    grid-area: 2/2/3/3;
}

section #avis_stage_tri_3 {
    width: 100%;
    grid-area: 2/2/3/3;
}

section .selectpage {
    display: normal;
}

section .nonselectpage {
    display: none;
}

section .avis_stage {
    width: 96%;
    height: 300px;
    background-color: white;
    display: grid;
    grid-template-columns:140px 200px auto ; 
    grid-template-rows:140px  auto;
    
    border:solid 1px  #cdcdcd;
    border-radius: 4px;
    margin:0px 0px 14px 2% ;
}

section .avis_stage_ordre_1 {
    background-color: ;
    order: 1;
}

section .avis_stage_ordre_2 {
    background-color: ;
    order: 2;
}

section .avis_stage_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1/1/2/2;

}

section .avis_stage .avis_stage_logo img{
    display: block;
    height: 98px;
    background-color:;
    border: solid 1px black;
    border-radius: 4px;
}

section .avis_stage_gauche {
    grid-area: 1/2/2/3;
}

section .avis_stage_gauche a {
    background-color: ;
    height: 20px;
    padding-left: 0px;
    display: flex;
    margin-top: 30px;
    font-family: 'Patua';
    font-weight: normal;
    font-size:24px;
    align-items: center;
    color: black;
    transition: color 400ms;
}

section .avis_stage_gauche a:hover {
    color: #004976;
}

section iframe {
    grid-area: 2/1/3/3;
    height: 140px;
    width: 280px;
    border-radius: 4px;
    margin-left: 20px;
}

section .avis_stage_etoile {
    height: 20px;
    padding-left: 0px;
    display: flex;
    margin-top: 30px;
    background-color: ;
    flex-flow: row nowrap;
}

section .avis_stage_etoile img {
    height: 20px;
    margin-right: 10px;
}

section .avis_stage .avis_stage_info {
    height: 20px;
    margin: 12px 0px 0px 0px;
    vertical-align: middle;
    font-family: 'Alata';
    color:#545454;
    display: flex;
}

section .avis_stage .avis_stage_info img{
    height: 18px;
    margin-right: 12px;
    margin-top: 3px;
}

section #avis_stage_droit {
    grid-area: 1/3/2/4;
    background-color:;
}

section .avis_stage_info_2 {
    height: 20px;
    margin: 12px 0px 0px 0px;
    vertical-align: middle;
    font-family: 'Alata';
    color:#545454;
    display: flex;
}

section  .avis_stage_info_2 img{
    height: 18px;
    margin-right: 12px;
    margin-top: 3px;
}

section .avis_stage p {
    grid-area: 2/3/3/4;
    background-color: ;
    color:#545454;
    font-family: 'Alata';
    line-height: 22px;
    width: 90%;
    font-size: 14px;
    margin: 0px 5% 0px 0%;
    height: 140px;
}

section .avis_stage p img {
    width: 14px;
    height: 14px;
    margin: 0px 10px 0px 10px;
}

section #no_result_stage {
    width: 96%;
    background-color: #cdcdcd;
    height: 40px;
    border-radius: 4px;
    margin: 20px 0px 0px 2%;
    display: flex;
    align-items: center;
    color: white;
    font-family:'Alata';
}

/*---------------------------------------------------------- footer ----------------------------------------------------------*/

section time {
    background-color: blue;
}

footer {
    background-color:  #004976;
    grid-column: span 4;
}
/*---------------------------------------------------------- Page create account ----------------------------------------------------------*/

#create_account {
    display: grid;
    grid-area: 2/2/3/3;
    background-color: #f3f3f3;
    font-family: 'Lato';
    font-size: 20px; 
}
#create_account form {
    grid-area: 1/2/3/3;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.label {
    font-family: 'Alata';
    margin: 1%;
}
.formule {
    outline: none;
    width: 50%;
    height: 35px;
    box-sizing: border-box;
    border: 2px inset #e0e0e0;
    font-family: 'Lato';
    font-size: 16px;
}
.interrogation {
	background-color: #c1c1c1;
	color: white;
	border-radius: 5px;
	border: black;
	padding: 2px;
	font-size: 13px;
}
span[data-descr] {
  position: relative;
  text-decoration: none;
  cursor: help;
}

span[data-descr]:hover::after {
  content: attr(data-descr);
  position: absolute;
  left: 0;
  top: 24px;
  min-width: 300px;
  border: 2px black outset;
  border-radius: 10px;
  background-color: white;
  padding: 8px;
  color: #000000;
  font-size: 15px;
  z-index: 1;
  font-family: 'Lato';
}
#inscrire{
    background-color: #1a1d21;
    color: white;
    border-style: none;
    border-radius: 8px;
    width: 50%;
    height: 38px;
    margin-top: 15px;
    font-family: 'Alata';
    font-size: 20px;
}
/*---------------------------------------------------------- Page depot_avis ----------------------------------------------------------*/
#depot_avis {
    display: grid;
    grid-area: 2/2/3/3;
    background-color: #f3f3f3;
    font-family: 'Lato';
}
#depot_avis form {
    grid-area: 1/2/3/3;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
#depot_avis h1 {
    margin-bottom: 15px;
}
#depot_avis .note {
    outline: none;
    height: 35px;
    box-sizing: border-box;
    border: 2px inset #e0e0e0;
}
#dep {
    display: none;
}