* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    outline: none;
}

@font-face{
    font-family: 'Yantra';
    src: url('font/Yantramanav-Light.ttf');
}

@font-face{
    font-family: 'Arvo';
    src: url('font/Arvo-Bold.ttf');
}

@font-face{
    font-family: 'Patua';
    src: url('font/PatuaOne-Regular.ttf');
}

@font-face{
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.ttf');
}

@font-face{
    font-family: 'Lato';
    src: url('font/Lato-Light.ttf');
}

@font-face{
    font-family: 'Alata';
    src: url('font/Alata-Regular.ttf');
}

@font-face{
    font-family: 'RobotoSlab';
    src: url('font/RobotoSlab-Light.ttf');
}

@font-face{
    font-family: 'Notolight';
    src: url('font/NotoSansJP-Regular.otf');
}


input:focus {
    outline:  none;
}


/*---------------------------------------------------------- body ----------------------------------------------------------*/

body{
    display:grid;
    grid-template-columns:1fr 1000px 1fr; 
    grid-template-rows: 101px  800px 200px;
    background-color: white;
}

/*---------------------------------------------------------- header ----------------------------------------------------------*/

header{
    height: 100px;
    width: 100%;
    grid-column: span 4;
    background-color:#1a1d21;
    display:grid;
    grid-template-columns:120px 1fr 150px 150px 180px 170px 1fr 160px;
    grid-template-rows:1fr ;
    border-bottom: 1px solid #1a1d21;
}

header > div {
    display: flex;
    align-items: center;
}

header div > a{
    align-items:baseline;
    display:flex;
    font-size: 22px;
    font-family: 'Alata';
    color:white;
    background-color: ;
}

header div a img {
    width: 14px;
    height:14px;
    margin-left: 6px;
    transition: transform 400ms ease-out;
}

header div a:hover img {
    background-color:;
    transform: rotate(90deg);
}

header #header_contact {
    grid-area: 1/3/2/4;
}

header #header_accueil {
    grid-area: 1/4/2/5;
}

header #header_Connexion {
    grid-area: 1/6/1/7;
}

header #header_Compte {
    grid-area: 1/5/1/6;
}

header #header_logo a{
    display: block;
    height: 70px;
    border-radius: 4px;
    margin: 0px 15px 0px 15px;
    background: url('image/logo_polytech_6.png');
    width: 76px;
    background-repeat: no-repeat;
    background-size: 76px;
    background-position: center;
    padding: 0px;
}

header #header_logo a img {
    display: block;
    height: 70px;
    width: 76px;
    border-radius: 3px;
    transition: opacity 400ms linear;
    margin: 0px;
    padding: 0px;
}

header #header_logo a:hover img{
    opacity: 0;
    transform: none;
    cursor: pointer;
}

header #header_Publier {
    grid-area: 1/8/2/9;
}

header #header_Publier a{
    padding: 9px 14px 9px 9px;
    border-radius: 3px;
    align-items:center;
    color: white;
    background-color: #ff1c1c ;
    transition: background-color 400ms;
}

header #header_Publier a img{
    padding-right: 11px;
    padding-left: 3px;
    width: 20px;
    height:20px;
    margin: 0px;
}

header #header_Publier a:hover {
    background-color: #ab0000 ;
    
}

header #header_Publier a:hover img{
    transform:none;
}

/*---------------------------------------------------------- section ----------------------------------------------------------*/

section {
    grid-area: 2/2/3/3;
    width: 100%;
    height: 80px;
    background-color: ;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.23); 
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.23);
    display: flex;
    margin: 40px 0px 0px 0px;
    font-family:'NotoLight';
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
}

section img {
    height: 26px;
    display: flex;
    background-color: ;
    margin: 0px 20px 0px 20px;
}

section h1 {
    display: flex;
    font-weight: normal;
    background-color: ;
}

/*---------------------------------------------------------- footer ----------------------------------------------------------*/

footer {
    background-color:  #004976;
    grid-column: span 4;
}