* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    outline: none;
}

@font-face{
    font-family: 'Yantra';
    src: url('font/Yantramanav-Light.ttf');
}

@font-face{
    font-family: 'Arvo';
    src: url('font/Arvo-Bold.ttf');
}

@font-face{
    font-family: 'Patua';
    src: url('font/PatuaOne-Regular.ttf');
}

@font-face{
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.ttf');
}

@font-face{
    font-family: 'Lato';
    src: url('font/Lato-Light.ttf');
}

@font-face{
    font-family: 'Alata';
    src: url('font/Alata-Regular.ttf');
}

@font-face{
    font-family: 'RobotoSlab';
    src: url('font/RobotoSlab-Light.ttf');
}

input:focus {
    outline:  none;
}


/*---------------------------------------------------------- body ----------------------------------------------------------*/

body{
    display:grid;
    grid-template-columns:1fr 1000px 1fr; /* 4 colonnes de largeur = */
    grid-template-rows:101px 2000px 200px; /* 3 rangées */
    background-color: white;
}

/*---------------------------------------------------------- header ----------------------------------------------------------*/

header{
    height: 100px;
    width: 100%;
    grid-column: span 4;
    background-color:#1a1d21;
    display:grid;
    grid-template-columns:120px 1fr 150px 150px 180px 170px 1fr 160px;
    grid-template-rows:1fr ;
    border-bottom: 1px solid #1a1d21;
}

header > div {
    display: flex;
    align-items: center;
}

header div > a{
    align-items:baseline;
    display:flex;
    font-size: 22px;
    font-family: 'Alata';
    color:white;
    background-color: ;
}

header div a img {
    width: 14px;
    height:14px;
    margin-left: 6px;
    transition: transform 400ms ease-out;
}

header div a:hover img {
    background-color:;
    transform: rotate(90deg);
}


header #header_contact {
    grid-area: 1/3/2/4;
}

header #header_accueil {
    grid-area: 1/4/2/5;
}

header #header_Connexion {
    grid-area: 1/6/1/7;
}

header #header_Compte {
    grid-area: 1/5/1/6;
}

header #header_logo a{
    display: block;
    height: 70px;
    border-radius: 4px;
    margin: 0px 15px 0px 15px;
    background: url('image/logo_polytech_6.png');
    width: 76px;
    background-repeat: no-repeat;
    background-size: 76px;
    background-position: center;
    padding: 0px;
}

header #header_logo a img {
    display: block;
    height: 70px;
    width: 76px;
    border-radius: 3px;
    transition: opacity 400ms linear;
    margin: 0px;
    padding: 0px;
}

header #header_logo a:hover img{
    opacity: 0;
    transform: none;
    cursor: pointer;
}

header #header_Publier {
    grid-area: 1/8/2/9;
}

header #header_Publier a{
    padding: 9px 14px 9px 9px;
    border-radius: 3px;
    align-items:center;
    color: white;
    background-color: #ff1c1c ;
    transition: background-color 400ms;
}

header #header_Publier a img{
    padding-right: 11px;
    padding-left: 3px;
    width: 20px;
    height:20px;
    margin: 0px;
}

header #header_Publier a:hover {
    background-color: #ab0000 ;
    
}

header #header_Publier a:hover img{
    transform:none;
}

/*---------------------------------------------------------- footer ----------------------------------------------------------*/

footer {
    background-color:  #004976;
    grid-column: span 4;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    color: white;
    width: 100%;
}

footer h2 {
    width:100%;
    font-weight: normal;
    font:24px 'Alata' ;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: ;
}

footer p {
    font: 14px 'Alata' ;
    height: 20%;
   
}

footer #imgfooter {
    width: 100%;
    height: 30%;
    background-color: ;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}

footer #imgfooter a {
    background-color: ;
    width: 50px;
    height:100%;
}

footer #imgfooter a img{
    height: 50%;
    margin-top: 25%;
}

footer #bottom_footer {
    height: 20%;
    width:100%;
    background-color: black;
}

/*---------------------------------------------------------- Page create account ----------------------------------------------------------*/

#create_account {
    display: grid;
    grid-area: 2/2/3/3;
    background-color: #f3f3f3;
    font-family: 'Lato';
    font-size: 20px;
}
#create_account form {
    grid-area: 1/2/3/3;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.label {
    font-family: 'Alata';
    margin: 1%;
}
.formule {
    outline: none;
    width: 50%;
    height: 35px;
    box-sizing: border-box;
    border: 2px inset #e0e0e0;
    font-family: 'Lato';
    font-size: 16px;
}
.interrogation {
	background-color: #c1c1c1;
	color: white;
	border-radius: 5px;
	border: black;
	padding: 2px;
	font-size: 13px;
}
span[data-descr] {
  position: relative;
  text-decoration: none;
  cursor: help;
}

span[data-descr]:hover::after {
  content: attr(data-descr);
  position: absolute;
  left: 0;
  top: 24px;
  min-width: 300px;
  border: 2px black outset;
  border-radius: 10px;
  background-color: white;
  padding: 8px;
  color: #000000;
  font-size: 15px;
  z-index: 1;
  font-family: 'Lato';
}
#inscrire{
    background-color: #1a1d21;
    color: white;
    border-style: none;
    border-radius: 8px;
    width: 50%;
    height: 38px;
    margin-top: 15px;
    font-family: 'Alata';
    font-size: 20px;
    text-align: center;
}

input:focus:invalid {
  -webkit-box-shadow: 1px 1px 6px 1px #FF0000;
}
#create_account #nom, #prenom {
  display: none;
}
/*---------------------------------------------------------- Page depot_avis ----------------------------------------------------------*/
#depot_avis {
    display: grid;
    grid-area: 2/2/3/3;
    background-color: #f3f3f3;
    font-family: 'Lato';
}
#depot_avis form {
    grid-area: 1/2/3/3;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
#depot_avis h1 {
    margin-bottom: 15px;
}
#depot_avis .note {
    outline: none;
    height: 35px;
    box-sizing: border-box;
    border: 2px inset #e0e0e0;
}
#dep {
    display: none;
}
#retour_depot_avis, #verified_account, #account_created {
  display: grid;
  grid-area: 2/2/3/3;
  background-color: #f3f3f3;
  font-family: 'Alata';
  font-size: 20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4%;
  color: #1a1d21;
}
/*---------------------------------------------------------- Page connexion ----------------------------------------------------------*/
#connexion {
  display: grid;
  grid-area: 2/2/3/3; /* row-start/column-start/row-end/column-end */
  grid-template-rows: 50px 25px 1fr;
  grid-template-columns: 1fr 3fr;
  background-color: #f3f3f3;
  font-family: 'Lato';
}
#connexion form {
  grid-area: 3/2/3/2;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
#connexion h1 {
  grid-area: 1/2/1/2;
  margin-top: 10px;
}
#message {
  grid-area: 2/2/2/3;
  margin: 5px;
}